body {
	margin: auto;
	background: #FAAFBE;
	width: 900px;
}

h1 {
	font-family: helvetica, sans-serif;
	text-align: center;
	color: #0000CD;
	font-size: 2.3em;
}

h2 {
	font-family: helvetica, sans-serif;
	text-align: center;
	color: #FF4500;
}
h3{
	font-family: helvetica, sans-serif;
	text-align: center;
	color: #FF4500;
	}

div
{
  background-color: #F0FFFF;
  color: navy;
  margin: 1em;
}

.form-group{
text-align: center;
}

img{padding-left: 4em;
padding-right: 5em;}
